/* tailwind init */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */
.error {
    @apply mt-5 btn btn-active btn-error no-animation cursor-default;
}

.wrapper {
    @apply max-w-xl pb-6 px-5 my-0 mx-auto border-b-2  border-base-200;
}

/* Auth Form */
.credentials-container {
    @apply mx-auto my-0 max-w-xl py-10;
}

.credentials-base {
    @apply mx-auto shadow-xl bg-slate-100;
}

.credentials-base label {
    @apply block w-72 py-1;
}

.credentials-img {
    @apply absolute -z-10 min-w-full h-auto bottom-0;
}

.credentials-input {
    @apply input w-full text-lg font-medium text-slate-100;
}

.credentials-btn {
    @apply btn bg-gray-700 w-full mt-1;
}

.credentials-icon {
    @apply btn btn-circle no-animation text-2xl bg-gray-700 mb-2;
}

.credentials-title {
    @apply text-3xl text-gray-900 font-bold pb-6;
}

/* Nav */
.nav-container {
    @apply navbar bg-base-100 max-w-xl my-0 mx-auto;
}

.nav-title {
    @apply btn btn-ghost normal-case text-xl;
}

.nav-avatar {
    @apply btn btn-ghost btn-circle avatar;
}

.nav-dropdown {
    @apply mt-3 p-5 shadow menu menu-compact dropdown-content bg-base-200 rounded-box w-52;
}

.nav-link {
    @apply px-2 text-xl font-medium transition ease-out hover:underline active:scale-90;
}

.dropdown-item {
    @apply btn btn-sm btn-outline;
}

/* Create */
.wrapper textarea {
    @apply w-full textarea textarea-bordered resize-none pb-5 text-lg font-medium tracking-wide;
}

.wrapper i {
    @apply btn bg-rose-500 hover:bg-rose-400 border-0;
}

.wrapper button {
    @apply btn bg-rose-500 hover:bg-rose-400 border-0 w-20 self-end mt-2;
}

/* Post */
.post-container {
    @apply max-w-xl mx-auto my-0 p-5 border-b-2 cursor-pointer border-base-200 transition duration-200 hover:bg-base-200;
}

.post-avatar {
    @apply btn btn-ghost btn-circle;
}

.post-body {
    @apply break-words max-w-md ml-4 flex flex-col;
}

.post-image {
    @apply w-auto h-auto rounded-lg mt-3;
}

.post-like {
    @apply p-1 text-2xl hover:text-red-500 transition duration-500 ease-out rounded-full active:scale-75;
}

.post-comment {
    @apply p-1 text-2xl hover:text-blue-500 transition duration-500 ease-out rounded-full active:scale-75;
}

/* users list */
.user-carousel {
    @apply relative w-full carousel-item flex justify-center mt-6;
}